/* == VARIABLES COLORES == */
:root {
	--main-color1:#1b2651;
	--main-color2:#CD2028;
	--color1-light-a:#283877;
	--color1-light-b:#536AC5;
	--color2-light-a:#E5565E;
	--color2-light-b:#EE8F94;
	--white:#ffffff;
}


* {
	margin: 0;
	padding: 0;
}
body {
	background: url(images/moroccan-flower-dark.webp) #023600 fixed;
}
/* == ESTRUCTURA == */
header {
	width: 80%;
	height: auto;
	margin: 0 auto;
	padding: 1% 0;
	background-color: #f9eedf;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1000;
}
header img { 
	margin: 0 30px;
	width: 130px;
}
main {
	width: 80%;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
	background-color: #FFFFFF;
}
footer {
	width: 80%;
	height: auto;
	margin: 0 auto;
	padding: 1% 0;
	background-color: #201500;
	display: flex;
	justify-content: center;
}
section {
	width: 96%;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
	background-color: #FFFFFF;
	padding: 4% 2%;
}
section h2 {
	margin-bottom: 20px;
	text-align: center;
}
section h3 {
	text-align: center;
	margin: 12px 0;
	font-size: 1.2rem;
	line-height: 1.8rem;
}
section p {
	text-align: center;
	font-size: 0.9rem;
	line-height: 1.3rem;
}
/* ==  MENU SUPERIOR == */
	/* Add a black background color to the top navigation */
	.topnav {
		overflow: hidden;
		margin: 0 30px;
	}
	/* Style the links inside the navigation bar */
	.topnav a {
		float: left;
		display: block;
		color: rgb(56, 56, 66);
		font-family: 'Poppins', sans-serif;
		font-weight: 700;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 0.9rem;
	}
	/* Change the color of links on hover */
	.topnav a:hover {
		color: #7a5000;
	}
	/* Add an active class to highlight the current page */
	.topnav a.active {
		background-color: #04AA6D;
		color: white;
	}
	/* Hide the link that should open and close the topnav on small screens */
	.topnav .icon {
		display: none;
	}
	/* When the screen is less than 768 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
	@media screen and (max-width: 768px) {
		.topnav {
			width: 100%;
			background-color: #d6be77;
		}
		.topnav a:not(:first-child) {
	  		display: none;
		}
		.topnav a.icon {
	    	float: right;
	    	display: block;
	  	}
	}
	/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
	@media screen and (max-width: 768px) {
		.topnav.responsive {
	  		position: relative;
	  	}
	  	.topnav.responsive a.icon {
	    	position: absolute;
	    	right: 0;
	    	top: 0;
	  	}
	  	.topnav.responsive a {
	    	float: none;
	    	display: block;
	    	text-align: left;
	  	}
	}
/* == FIN DE MENU SUPERIOR == */
/* == SLIDE == */
#intro {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	background: url(images/pexels-rachel-claire-5865282-main.jpg) no-repeat left center;
	padding: 4% 8%;
	min-height: 300px;
	width: 84%;
	animation-name: animacion-intro;
	animation-duration: 300ms;
	animation-timing-function: ease;
}
@keyframes animacion-intro {
	from {
		filter: opacity(0%);
		transform: translateY(-200px);
	}
	to {
		filter: opacity(100%);
		transform: translateY(0);
	}
}
#intro h1 {
	padding-bottom: 2%;
	width: 50%;
	color: #fff;
	text-shadow: 5px 3px 3px #140d00;
}
#intro p {
	text-align: left;
	width: 50%;
	color: #fff;
	text-shadow: 5px 3px 3px #140d00;
}
#fondo-titular {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	background: url(images/pexels-cats-coming-955137.jpg) no-repeat center left;
	padding: 4% 8%;
	width: 84%;
}
/* == BOTONES == */
a.boton {
	color: #fff;
	background: #00833D;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1rem;
	display: inline-block;
	margin: 40px 0;
	padding: 10px 26px;
	transition-property: all;
	transition-duration: 300ms;
	transition-timing-function: ease;
}
a.boton:hover {
	color: #00833D;
	background: #000;
}
/* == CONTENEDORES FLEX == */
.container-01, .container-02 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: auto;	
}
.container-01 > div {
	width: 26%;
	margin: 2%;
	padding: 1%;
}
.container-02 > div {
	width: 40%;
	margin: 1%;
	padding: 1%;
}
/* == TIPOGRAFÃAS == */
:root {
	font-size: 20px; /* MEDIDA BASE: 20px = 1rem */
}
@font-face {
	font-family: miFuente01;
	src: url(fonts/AbrilFatface-Regular.ttf);
}
h1 {
	color: rgb(0, 36, 16);
	font-family: miFuente01;
	font-size: 3rem;
	line-height: 4.5rem;
}
h2 {
	color: rgb(70, 43, 0);
	font-family: 'Merriweather', serif;
	font-weight: 900;
	font-size: 2.4rem;
	line-height: 3.6rem;
}
h3 {
	color: rgb(70, 43, 0);
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 2.2rem;
}
p {
	color: rgb(56, 56, 66);
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.6rem;
}
.p-footer {
	color: #f9eedf;
	font-size: 0.8rem;
	line-height: 1.2rem;
}
/* == IMAGENES == */
.container-01 > div img, .container-02 > div img {
	width: 100%;
	box-shadow: 5px 5px 8px rgb(170, 170, 170);
	border-radius: 25px 0;
}
/* == ICONOS == */
.enlace-icono {
	position: fixed;
	bottom: 140px;
	right: 15px;
}
/* == VIDEO == */
.container-02 video {
	width: 84%;
}
.container {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
 }
 /* Then style the iframe to fit in the container div with full height and width */
 .responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 84%;
	height: 84%;
	border: 0;
	margin: 0 auto;
 }
/* == MEDIA QUERIES TABLET == */
@media screen and (max-width:768px) {

	header, main, footer {
		width: 100%;
	}
	footer {
		padding: 3% 0;
	}
	header {
		flex-direction: column;
		padding: 0;
	}
	header img {
		padding: 20px 0;
	}
	#intro {
		align-items: center;
		background: url(images/pexels-rachel-claire-5865282-main.jpg) no-repeat bottom center;
		padding-top: 200px;
	}
	#intro h1 {
		text-align: center;
		width: 100%;
	}
	#intro p {
		text-align: center;
		width: 80%;
	}
	.container-01 > div, .container-02 > div {
		width: 40%;
		border: none;
	}

}
/* == MEDIA QUERIES MOVILES == */
@media screen and (max-width:428px) {

	header, main, footer {
		width: 100%;
	}
	footer {
		padding: 3% 0;
	}
	header {
		flex-direction: column;
		padding: 0;
	}
	header img {
		padding: 20px 0;
	}
	.container-01, .container-02 {
		flex-direction: column;
		align-items: center;
	}
	.container-01 > div, .container-02 > div {
		width: 90%;
		border: none;
	}
	h1 {
		font-size: 2.2rem;
		line-height: 2.6rem;
		text-align: center;
	}
	h2 {
		padding: 3% 0;
		text-align: center;
		line-height: 3.2rem;
	}
	#fondo-titular {
		align-items: center;
	}

}