/* == VARIABLES COLORES == */
:root {
	--main-color:#0074CA;
	--main-color-light:#7BC7FF;
	--main-color-hard:#005594;
	--secondary-color:#fff;
	--tertiary-color:#111111;
	--gray-color-light:#F3F3F7;
	--gray-color-hard:#6C6C6C;
}

* {
	margin: 0;
	padding: 0;
}
body {
	background: url(./img-ep03-editadas/back-3.jpg) #023600 fixed;
}

/* == ESTRUCTURA == */
header {
	width: 80%;
	height: auto;
	margin: 0 auto;
	/*padding: 1% 0;*/
	background-color:var(--main-color-light);
	/*display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;*/
	display: grid;
	grid-template-columns: repeat(3,auto);
	grid-auto-rows: 80px;
	position: sticky;
	top: 0;
	z-index: 1000;
}
header img { 
	width: 130px;
}

header>a{ 
	margin: 1% 30px;
	align-self: center;
}
main {
	width: 80%;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
	background-color: #FFFFFF;
}

/* == FOOTER == */

footer {
	width: 80%;
	height: auto;
	margin: 0 auto;
	/*padding: 1% 0;*/
	background-color: #201500;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(2,auto);
}

footer section:nth-child(2) img{
	width: 150px;
}

#footer-up{
	width: 100%;
	background: var(--tertiary-color);
	display: flex;
	justify-content: center;
	padding: 40px 0;
	box-sizing: border-box;
}

#footer-up div{
	box-sizing: border-box;
	display: flex;
	column-gap: 15px;
}

#footer-up > div > div{
	width: 50px;
	height: 50px;
	justify-content: center;
	align-items: center;
}

#footer-down{
	box-sizing: border-box;
	width: 100%;
	padding: 30px 20px 35px;
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(3, auto);
	grid-template-areas: 
		"footer-up-left 			footer-up-right"
		"footer-middle 				footer-middle"
		"footer-down	 			footer-down"
	;
	row-gap: 35px;
}

#footer-down-one{
	grid-area: footer-up-left;
}

#footer-down-two{
	grid-area: footer-up-right;
	display: grid;
	grid-template-columns: repeat(4, auto);
	column-gap: 10px;
}

#footer-down-three{
	grid-area: footer-middle ;
	display: flex;
	column-gap: 20px;
	align-items: center;
}

#footer-down-four{
	grid-area: footer-down;
	display: flex;
	justify-content: center;
}

#footer-down-two >  div{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 15px;
}

#footer-down-three > div{
	display: flex;
	column-gap: 5px;
	align-items: center;
}


/* == FIN DEL FOOTER == */

section {
	width: 96%;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
	background-color: #FFFFFF;
	padding: 4% 2%;
}
section h2 {
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}
section h3 {
	text-align: center;
	margin: 12px 0;
	text-transform: uppercase;
}

section p {
	text-align: center;
	font-size: 0.9rem;
	line-height: 1.3rem;
}

#marketing-space{
	padding: 30px;
}

/* ==  MENU SUPERIOR == */
	/* Add a black background color to the top navigation */
	.topnav {
		overflow: hidden;
		margin: 0 30px;
		display: flex;
		column-gap: 20px;
	}
	/* Style the links inside the navigation bar */
	
	/*
	.topnav a {
		float: left;
		display: block;
		color: rgb(56, 56, 66);
		font-family: 'Montserrat Alternates', sans-serif;
		font-weight: 700;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 0.9rem;
	}
	*/
	/* Change the color of links on hover */
	/*
	.topnav a:hover {
		color: #7a5000;
	}*/

	/* Add an active class to highlight the current page */
	.topnav a.active {
		background-color: #04AA6D;
		color: white;
	}
	/* Hide the link that should open and close the topnav on small screens */
	.topnav .icon {
		display: none;
	}
	/* When the screen is less than 768 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
	@media screen and (max-width: 768px) {
		.topnav {
			width: 100%;
			background-color: #d6be77;
		}
		.topnav a:not(:first-child) {
	  		display: none;
		}
		.topnav a.icon {
	    	float: right;
	    	display: block;
	  	}
	}
	/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
	@media screen and (max-width: 768px) {
		.topnav.responsive {
	  		position: relative;
	  	}
	  	.topnav.responsive a.icon {
	    	position: absolute;
	    	right: 0;
	    	top: 0;
	  	}
	  	.topnav.responsive a {
	    	float: none;
	    	display: block;
	    	text-align: left;
	  	}
	}
/* == FIN DE MENU SUPERIOR == */

/* == HIPERVÍNCULOS == */

.enlace-subtitulo{
	text-decoration: none;
	color: var(--main-color);
}

.enlace-subtitulo:hover{
	color: var(--tertiary-color);
	text-decoration: underline;
}

.enlace-footer{
	color: var(--gray-color-hard);
	text-decoration: none;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 600;
	font-size: 0.6rem;
	line-height: 0.9rem;
}

.enlace-footer:hover{
	text-decoration: underline var(--gray-color-hard);
}

.enlace-header-options{
	text-transform: uppercase;
	color: var(--main-color-hard);
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 700;
	text-align: center;
	/*padding: 14px 16px;*/
	text-decoration: none;
	font-size: 0.9rem;
	padding: 20px 16px 24px 16px;
	align-self: end;
}

.enlace-header-options:hover{
	background-color: var(--main-color-hard);
	color:var(--secondary-color);

}

.enlace-icon-media{
	font-size: 1.2rem;
	color: var(--tertiary-color);
	background: var(--secondary-color);
	border-radius: 50%;
	width: 45px;
	height: 45px;
	display: flex;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	transition-property: all;
	transition-duration: 100ms;
	transition-timing-function: ease;
}

.enlace-icon-media:hover{
	font-size: 1.3rem;
	color: var(--main-color);
	width: 48px;
	height: 48px;
}

.enlace-footer-terms{
	color: var(--main-color);
	font-weight: 700;
}

.enlace-footer-terms:hover{
	color: var(--main-color-hard);
}

.enlace-img-products{
	filter: none;
}

.enlace-img-products:hover{
	filter: brightness(1.5);
}

.enlace-img-products img{
	transition-property: all;
	transition-duration: 300ms;
	transition-timing-function: ease;
}

.enlace-img-products img:hover{
	transform: translate(0, -25px);
}

/* == SLIDE == */
#intro {
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;*/
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: repeat(3, auto);
	grid-template-areas: 
	 "top-left 		top-right"
	 "middle-left 	middle-right"
	 "bottom-left 	bottom-right"
	;
	background: url(./img-ep03-editadas/background-img-01.jpg) no-repeat center ;
	background-size: cover;
	padding: 6% 3%;
	min-height: 300px;
	width: 94%;
	animation-name: animacion-intro;
	animation-duration: 1s;
	animation-timing-function: ease;
}

@keyframes animacion-intro {
	from {
		filter: opacity(0%);
		transform: translateY(-200px);

	}
	to {
		filter: opacity(100%);
		transform: translateY(0);

	}
}

#intro h1 {
	padding-bottom: 2%;
	width: 60%;
	color:var(--secondary-color);
	text-shadow:3px 2px 10px var(--main-color-light);
	text-transform: uppercase;
	font-size: 2rem;
	line-height: 3rem;
	font-family: 'Roboto', sans-serif;
	grid-area: top-left;
	font-weight: 900;
}

#intro p {
	text-align: left;
	width: 70%;
	color:var(--secondary-color);
	text-shadow:1px 1px 3px var(--gray-color-light);
	grid-area: middle-left;
}

#fondo-titular {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	background: url(img-ep03-editadas/background-img-07.jpg) no-repeat center;
	background-size: cover;
	padding: 5% 5%;
	width: 90%;
	animation: 
		1s animacion-fondo-titular   linear;

}

@keyframes animacion-fondo-titular {
	from {
		transform: translateX(100vh);
		transform: rotate(10deg);

	}
	to {
		transform: translateX(0);
	}
}




#fondo-titular h1{
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 2.5rem;
	text-shadow:3px 2px 10px var(--main-color-light);
	color: var(--secondary-color);

	animation: 
	1s animacion-texto  linear;
}

@keyframes animacion-texto {
	from {
		color: var(--main-color-light);

	}
	to {
		color: var(--secondary-color);

	}
}

#intro .boton-tipo-1, #intro .boton-tipo-2{
	grid-area: bottom-left;
	justify-self: start;
}

/* == BOTONES == */
.boton-tipo-1 {
	color:var(--secondary-color);
	background: var(--main-color);
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 900;
	padding: 11px 26px;
	text-decoration: none;
	font-size: 1rem;
	margin: 40px 0;
	transition-property: all;
	transition-duration: 300ms;
	transition-timing-function: ease;
	border-radius: 20px;
	text-transform: uppercase;
	box-shadow: 0px 0px 8px 3px var(--gray-color-light);

}

.boton-tipo-1:hover {
	color:var(--main-color);
	background: var(--secondary-color);
	box-shadow: 0px 0px 8px 3px var(--main-color);
}

.boton-tipo-2{
	color:var(--main-color);
	background: var(--secondary-color);
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 900;
	padding: 11px 26px;
	text-decoration: none;
	font-size: 1rem;
	margin: 40px 0;
	transition-property: all;
	transition-duration: 300ms;
	transition-timing-function: ease;
	border-radius: 20px;
	text-transform: uppercase;
	box-shadow: 0px 0px 8px 3px var(--main-color);
} 

.boton-tipo-2:hover{
	color:var(--secondary-color);
	background: var(--main-color);
	box-shadow: 0px 0px 8px 3px var(--secondary-color);
} 

.boton-tipo-3{
	color:var(--main-color);
	background: var(--gray-color-light);
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 700;
	padding: 4% 25%;
	text-decoration: none;
	font-size: 0.8rem;
	border-radius: 20px;
	text-transform: uppercase;
} 

.boton-tipo-3:hover{
	outline: 2px solid var(--main-color);
} 

/* == CONTENEDORES FLEX == */
.container-01, .container-02 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: auto;	
}
.container-01 > div {
	width: 26%;
	margin: 2%;
	padding: 1%;
}
.container-02 > div {
	width: 40%;
	margin: 1%;
	padding: 1%;
}
/* == TIPOGRAFÍAS == */
:root {
	font-size: 20px; /* MEDIDA BASE: 20px = 1rem */
}

/*
Encabezados:
font-family: 'Taviraj', serif;

Párrafos:
font-family: 'Montserrat Alternates', sans-serif;

Extra:
font-family: 'Roboto', sans-serif;
*/



@font-face {
	font-family: miFuente01;
	src: url(fonts/AbrilFatface-Regular.ttf);
}

h1, h2, h3{
	font-family: 'Taviraj', serif;
}

h1 {
	color: var(--main-color-light);
	font-size: 3rem;
	line-height: 4.5rem;
}
h2 {
	color:var(--main-color);
	font-weight: 900;
	font-size: 1.9rem;
	line-height: 2.85rem;
}
h3 {
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.5rem;
}

p{
	font-family: 'Montserrat Alternates', sans-serif;
}

.p-content {
	color:var(--main-color-hard);
	font-weight: 300;
	font-size: 0.8rem;
	line-height: 1.2rem;
	font-weight: 400;
}

.p-footer {
	color: var(--gray-color-hard);
	font-size: 0.6rem;
	line-height: 0.9rem;
	font-weight: 500;
}

.p-footer-main{
	color: var(--tertiary-color);
	font-weight: 900;
	text-transform: uppercase;
	font-size: 1rem;
	line-height: 1.5rem;
}

/* == IMAGENES == */
.container-01 > div img, .container-02 > div img {
	width: 100%;
	/*box-shadow: 5px 5px 8px rgb(170, 170, 170);
	border-radius: 25px 0;*/
	/*box-shadow: 3px 3px 10px 0px var(--main-color-light);*/
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;

}

/* == ICONOS == */
.enlace-icono {
	position: fixed;
	bottom: 140px;
	right: 15px;
}

/* == BOTÓN FLOTANTE == */

.enlace-btn-flotante{
	background: var(--secondary-color);
	display: flex;
	width: 80px;
	border-radius: 20px;
	justify-content: center;
	padding: 10px;
	color: var(--main-color);
	outline: 3px solid var(--main-color);
	text-decoration: none;
	column-gap: 8px;
	align-items: center;
	font-weight: 900;
	position: fixed;
	right: 0.5%;
	bottom: 10%;
	box-shadow: 0px 0px 10px 5px var(--main-color-light);
	transition-property: all;
	transition-duration: 300ms;
	transition-timing-function: ease;
}

.enlace-btn-flotante:hover{
	background: var(--main-color);
	color: var(--secondary-color);
	outline: 3px solid var(--secondary-color);
	box-shadow: 0px 0px 10px 5px var(--secondary-color);
}

.enlace-btn-flotante p{
	font-family: 'Roboto', sans-serif;
	font-size: 0.8rem;
	line-height: 1.2rem;
}

/* == FIN DE BOTÓN FLOTANTE == */

/* == VIDEO == */
.container-02 video {
	width: 84%;
}
.container {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
 }
 /* Then style the iframe to fit in the container div with full height and width */
 .responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 84%;
	height: 84%;
	border: 0;
	margin: 0 auto;
 }
/* == MEDIA QUERIES TABLET == */
@media screen and (max-width:768px) {

	header, main, footer {
		width: 100%;
	}
	footer {
		padding: 3% 0;
	}
	header {
		flex-direction: column;
		padding: 0;
	}
	header img {
		padding: 20px 0;
	}
	#intro {
		align-items: center;
		background: url(images/pexels-rachel-claire-5865282-main.jpg) no-repeat bottom center;
		padding-top: 200px;
	}
	#intro h1 {
		text-align: center;
		width: 100%;
	}
	#intro p {
		text-align: center;
		width: 80%;
	}
	.container-01 > div, .container-02 > div {
		width: 40%;
		border: none;
	}

}
/* == MEDIA QUERIES MOVILES == */
@media screen and (max-width:428px) {

	header, main, footer {
		width: 100%;
	}
	footer {
		padding: 3% 0;
	}
	header {
		flex-direction: column;
		padding: 0;
	}
	header img {
		padding: 20px 0;
	}
	.container-01, .container-02 {
		flex-direction: column;
		align-items: center;
	}
	.container-01 > div, .container-02 > div {
		width: 90%;
		border: none;
	}
	h1 {
		font-size: 2.2rem;
		line-height: 2.6rem;
		text-align: center;
	}
	h2 {
		padding: 3% 0;
		text-align: center;
		line-height: 3.2rem;
	}
	#fondo-titular {
		align-items: center;
	}

}